body {
  width: 100%;
}

.container-fluid {
  padding: 2% 8%;
}

link {
  text-decoration: none;
}

.btn {
  width: 11.5rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  color: white;
  background-color: #0290ff;
}

.add-book {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
}
